<html>
    <head></head>
    <body>
        <div style="font-family: Helvetica, Arial, sans-serif, serif, EmojiFont;">
        <table align="center" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <table width="690" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="100%" align="center" style="padding: 30px">
                            <img data-imagetype="External" src={{ logo_url }} width="60" border="0">
                            <div style="font-size: 30px;color: #383838">Kona Equity</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="padding-bottom: 30px">
                            <div style="font-size: 15px;color: #292D32">You’re almost there! Please click the button below to reset password:</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="padding-bottom: 30px">
                            <a style="font-size: 15px;color: #ffffff;background-color: #007A86;display: inline-block;padding: 10px;border-radius: 3px" href="{{ forgot_password_url }}">Reset password</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="padding-bottom: 10px">
                            <div style="font-size: 15px;color: #292D32">Or paste this link into your browser:</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <a style="font-size: 15px;color: #007A86">{{ forgot_password_url }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <div style="font-size: 20px;color: #292D32;padding-top: 30px;">Kona Team</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
        </table>

    </div>
    </body>
</html>