{% load static sekizai_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'backend_django_v2/prepared/main.css' %}">
    {% render_block "css" %}
    {% block head %}{% endblock head %}
</head>

<body class="body preload">
    {% block content %}{% endblock %}


    {% render_block "js" %}
</body>

</html>