<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sign Up | Kona Equity</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-GXS2W1JXVR"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag("js", new Date());

                    gtag("config", "G-GXS2W1JXVR");
                </script>
                <script src="https://www.googleoptimize.com/optimize.js?id=OPT-P69KL7V"></script>
                <!-- Clarity tracking code for https://www.konaequity.com/ -->
                <script>
                    (function (c, l, a, r, i, t, y) {
                        c[a] =
                            c[a] ||
                            function () {
                                (c[a].q = c[a].q || []).push(arguments);
                            };
                        t = l.createElement(r);
                        t.async = 1;
                        t.src = "https://www.clarity.ms/tag/" + i;
                        y = l.getElementsByTagName(r)[0];
                        y.parentNode.insertBefore(t, y);
                    })(window, document, "clarity", "script", "56y5lp4wnt");
                </script>
        {% block title %}{% endblock %} {% load static %}
        <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
        <link rel="stylesheet" href="{% static 'css/find/main.css' %}" />
        <link type="text/css" rel="stylesheet"  href="{% static 'css/ctm.css' %}" />
        <link rel="apple-touch-icon" href="{% static 'profile_photos/logo.png' %}" />
        <link rel="icon" href="{% static 'profile_photos/favicon.ico' %}" type="image/gif" sizes="32x32" />
        <link rel="icon" href="{% static 'profile_photos/favicon-32x32.png' %}" type="image/png" sizes="32x32" />
        <link rel="icon" href="{% static 'profile_photos/favicon-16x16.png' %}" type="image/png" sizes="16x16" />
        {% block meta %}{% endblock %} {% if pop %} {% endif %}
    </head>
    <body>
        <section>
            {% block content %}
                <div class="container-fluid">
                    <form class="form w-100 w-lg-600px">
                        <div class="row mt-80">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span class="lgtit-01">Keep using</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-60">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div class="text-center">
                                        <span class="lgtit-02">Join Kona Equity</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-40">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div class="googlewrapper" onclick="onclick_signup_bygoogle()">
                                        <img alt="Logo" src="{% static 'profile_photos/google-icon.svg' %}">
                                        <span class="mdtit-01" style="margin-left: 10px;cursor:pointer;" onclick="onclick_signup_bygoogle()">Sign Up with Google</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center mb-10">
                                    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
                                    <span class="fw-bold text-gray-400 fs-7 mx-2 mdtit-02">OR</span>
                                    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span class="mdtit-01">Sign up with your work email</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="w-300px">
									<label class="mdtit-03">Work Email</label>
									<input id="work_email" class="form-control form-control-lg form-control-solid inp-01" type="text" placeholder="Enter your work email..." autocomplete="off">
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="w-300px">
                                <span style="display: none" id="err-msg" class="mdtit-err">Please enter a work email</span>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="w-300px">
                                <button type="submit" class="btn btn-lg btn-01" onclick="onclick_create_account(this)">
                                    <span id="createaccspn" class="mdtit-04">Create</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span class="mdtit-01">Already have an account? <a href="/login" style="color: #007A86">Sign in</a></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endblock %}
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'js/auth.js' %}"></script>
        <script src="{% static 'js/freemails.js' %}"></script>
        <script>
            function onclick_create_account(elem) {
                var n = $('#work_email').val();
                if (validate_email(n) === false) {
                    $('#err-msg').css('display', 'block');
                    return;
                }
                $(elem).attr('disabled', true);
                $('#createaccspn').text("Processing...");
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const redirect_to = urlParams.get('redirect');
                var data = {email: n, redirect: redirect_to};
                $.ajax({
                    headers: { "X-CSRFToken": "{{csrf_token}}" },
                    type: 'POST',
                    url:"/signup/email_verification_request",
                    data: data,
                    success: function (res) {
                        $('#createaccspn').text("Create");
                        $('#err-msg').css('display', 'none');
                        if (res == 'success') {
                            window.location.href = '/signup/email_verification_sent';
                        }else if (res =='emailexist') {
                            $(elem).removeAttr('disabled');
                            alert('Email already exists');
                            return;
                        }
                        else {
                            $(elem).removeAttr('disabled');
                            alert("Oops, something went wrong. Please contact to administrator.");
                            window.location.href = '/';
                        }
                    }
                });
            }
        </script>

    </body>
</html>
