<div class="popup" id="claimFail">
    <div class="popup__wrapper">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-text popup__text">
                <h5 class="popup-text__text popup-text__text--center popup-text__text--big">You must create an account
                    with the same domain as the company to be able to claim.
                </h5>
            </div>
        </div>
    </div>
</div>