<div class="popup popup--active popup--tablet-le-bottom">
    <div class="popup__wrapper popup__wrapper--medium">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-text popup__text popup__text--medium">
                <p class="popup-text__text popup-text__text--center popup-text__text--medium">Verify this company, as an
                    authorized representative of {{company.name}}.</p>

                <ul class="styled-checked-list popup-text__list">
                    <li class="styled-checked-list__item">Raise brand awareness by adding company description, and
                        details</li>
                    <li class="styled-checked-list__item">Improve search discovery to appear higher in search results
                    </li>
                    <li class="styled-checked-list__item">Grow your followers to engage with potential partners and
                        customers</li>
                </ul>
            </div>

            <div class="popup-form popup__form">
                <div class="popup-form__body">
                    <div class="popup-form__item">
                        <label class="popup-form__label">First Name</label>
                        <input type="text" class="input popup-form__input" placeholder="First Name">
                    </div>
                    <div class="popup-form__item">
                        <label class="popup-form__label">Last Name</label>
                        <input type="text" class="input popup-form__input" placeholder="Last Name">
                    </div>
                    <div class="popup-form__item">
                        <label class="popup-form__label">Business Email</label>
                        <input type="email" class="input popup-form__input" placeholder="Business Email">
                    </div>
                    <div class="popup-form__item">
                        <label class="popup-form__label">Password</label>
                        <div class="password-input">
                            <input type="password" class="input password-input__input popup-form__input"
                                placeholder="Password">
                            <button class="password-input__change-button"></button>
                        </div>
                        <p class="popup-form__help-text">Please, use 8 or more characters</p>
                    </div>
                    <div class="popup-form__item">
                        <label class="popup-form__label">Confirm password</label>
                        <div class="password-input">
                            <input type="password" class="input password-input__input popup-form__input"
                                placeholder="Confirm password">
                            <button class="password-input__change-button"></button>
                        </div>
                    </div>
                    <div class="popup-form__item popup-form__item--mt">
                        <div class="popup-form__checkbox">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input">
                                <span class="checkbox__body"></span>
                            </label>
                            <p class="popup-form__checkbox-label">By creating an account, you agree to accept <a
                                    href="#">Kona Equity Terms of Service</a></p>
                        </div>
                    </div>
                </div>
                <div class="popup-form__controls">
                    <button class="button popup-form__controls-item popup-form__controls-item--small">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>