<div id="annual-rev-modal" class="popup popup--tablet-le-bottom">
    <div class="popup__wrapper">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-form popup__form">
                <div class="popup-form__head">
                    <h2 class="popup-form__title">Annual Revenue</h2>
                </div>
                <form id="editAnnualForm">
                    {% csrf_token %}
                    <input type="hidden" name="edit_type" value="annual_rev">
                    <div class="popup-form__body">
                        {% if chart %}
                        {% for c, v in chart.items %}
                        <div class="popup-form__item">
                            <label class="popup-form__label">{{ c|cut:"_"|upper }} Annual Revenue</label>
                            <input type="text" class="input popup-form__input" placeholder="0" value="{{v}}"
                                name="{{c}}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="popup-form__item">
                            <label class="popup-form__label">2019 Annual Revenue</label>
                            <input type="text" class="input popup-form__input" placeholder="0" name="val1">
                        </div>
                        <div class="popup-form__item">
                            <label class="popup-form__label">2020 Annual Revenue</label>
                            <input type="text" class="input popup-form__input" placeholder="0" name="val2">
                        </div>
                        <div class="popup-form__item">
                            <label class="popup-form__label">Current Annual Revenue</label>
                            <input type="text" class="input popup-form__input" placeholder="0" name="val3">
                        </div>
                        {% endif %}
                    </div>
                    <div class="popup-form__controls">
                        <button class="button popup-form__controls-item">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var url = "{% url 'backend_django_v2:edit_company' id=company.id %}"
    $(document).ready(function () {

        var successModal = document.querySelector("#editSuccessModal");
        var modals = document.querySelectorAll('.popup');

        function closeAllModals() {
            modals.forEach(modal => {
                modal.classList.remove('popup--active');
            });
        }

        function openSuccessModal() {
            successModal.classList.add('popup--active');
        }

        var data = {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            edit_type: 'annual_rev',
        };

        var originalData = {};

        $('#editAnnualForm input').each(function () {
            originalData[$(this).attr('name')] = $(this).val();
        });

        $('#editAnnualForm input').keyup(function () {
            var key = $(this).attr('name');
            if (originalData[key] === $(this).val() || $(this).val() === '') {
                delete data[key];
            } else {
                data[key] = $(this).val();
            }
            console.log(data);
        });

        // On submit summary-edit-modal
        $('.trim').each(function () {
            $(this).val($(this).val().trim());
        });

        $('#editAnnualForm').on('submit', function (e) {
            e.preventDefault();

            if (Object.keys(data).length <= 2) {
                alert("Please make some modifications first");
                return;
            }
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (response) {
                    if (response.status === 'success') {
                        closeAllModals();
                        openSuccessModal();
                        console.log('Success');
                    } else {
                        alert("Something went wrong");
                        console.log('Error');
                    }
                }
            });
        });
    });
</script>