<div id="summary-modal" class="popup popup--tablet-le-bottom">
    <div class="popup__wrapper">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-form popup__form">
                <div class="popup-form__head">
                    <h2 class="popup-form__title">Edit Summary</h2>
                </div>
                <form id="summaryEdit">
                    {% csrf_token %}
                    <input type="hidden" name="edit_type" value="summary">
                    <div class="popup-form__body">
                        <div class="popup-form__item">
                            <label class="popup-form__label">Company’s name</label>
                            <input type="text" name="name" class="input popup-form__input" placeholder="Company’s name"
                                value="{{name}}">
                        </div>
                        <div class="popup-form__item">
                            <label class="popup-form__label">Year founded</label>
                            <input type="text" name="year_founded" class="input popup-form__input" placeholder="YYYY"
                                value="{{year}}">
                        </div>
                        <div class="popup-form__item">
                            <label class="popup-form__label">Description</label>
                            <textarea rows="6" name="description" class="input popup-form__input trim"
                                placeholder="Description">
                            {% if desc %}
                                {{desc}}
                            {% endif %}</textarea>
                        </div>
                    </div>
                    <div class="popup-form__controls">
                        <button class="button popup-form__controls-item">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var url = "{% url 'backend_django_v2:edit_company' id=company.id %}"
    $(document).ready(function () {

        var successModal = document.querySelector("#editSuccessModal");
        var modals = document.querySelectorAll('.popup');

        function closeAllModals() {
            modals.forEach(modal => {
                modal.classList.remove('popup--active');
            });
        }

        function openSuccessModal() {
            successModal.classList.add('popup--active');
        }

        var data = {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            edit_type: 'summary',
        };
        var originalData = {
            name: "{{company.name}}",
            year_founded: "{{company.year_founded}}",
            description: "{{desc}}"
        };


        $('#summaryEdit input, #summaryEdit textarea').keyup(function () {
            var key = $(this).attr('name');
            if (originalData[key] === $(this).val() || $(this).val() === '') {
                delete data[key];
            } else {
                data[key] = $(this).val();
            }
        });

        // On submit summary-edit-modal
        $('.trim').each(function () {
            $(this).val($(this).val().trim());
        });

        $('#summaryEdit').on('submit', function (e) {
            e.preventDefault();

            if (Object.keys(data).length <= 2) {
                alert("Please make some modifications first");
                return;
            }
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (response) {
                    if (response.status === 'success') {
                        closeAllModals();
                        openSuccessModal();

                        console.log('Success');
                    } else {
                        alert("Something went wrong");
                        console.log('Error');
                    }
                }
            });
        });
    });
</script>