<div class="popup" id="editSuccessModal">
    <div class="popup__wrapper popup__wrapper--medium">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-text popup__text">
                <h5 class="popup-text__text popup-text__text--center popup-text__text--big">Nice job! We will check the
                    information and then update it. You help us get better.</h5>
            </div>
        </div>
    </div>
</div>