<div id="emp-exe-modal" class="popup popup--tablet-le-bottom">
    <div class="popup__wrapper">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-form popup__form">
                <div class="popup-form__head">
                    <h2 class="popup-form__title">Edit Company Contact</h2>
                </div>
                <form id="empExecutiveEdit">
                    {% csrf_token %}
                    {% for contact in contacts %}
                        <div class="popup-form__body">
                            <div class="popup-form__item">
                                <label class="popup-form__label">First name</label>
                                <input type="text" id="firstName{{ forloop.counter0 }}" class="input popup-form__input" placeholder="First name"
                                    value="{{contact.firstName}}">
                            </div>
                            <div class="popup-form__item">
                                <label class="popup-form__label">Last name</label>
                                <input type="text" id="lastName{{ forloop.counter0 }}" class="input popup-form__input" placeholder="Last name"
                                    value="{{contact.lastName}}">
                            </div>
                            <div class="popup-form__item">
                                <label class="popup-form__label">Job Title</label>
                                <input type="text" id="jobTitle{{ forloop.counter0 }}" class="input popup-form__input" placeholder="Job Title"
                                    value="{{contact.jobTitle}}">
                            </div>
                            <input type="hidden" id="contactId{{ forloop.counter0 }}" value="{{ contact.contactId }}" />
                        </div>
                                                <br />
                    {% endfor %}
                    <div class="popup-form__controls">
                        <button type="button" class="button popup-form__controls-item" id="btn-emp-exe">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var successModal = document.querySelector("#editSuccessModal");
        var modals = document.querySelectorAll('.popup');

        function closeAllModals() {
            modals.forEach(modal => {
                modal.classList.remove('popup--active');
            });
        }

        function openSuccessModal() {
            successModal.classList.add('popup--active');
        }

        $('#btn-emp-exe').click(function (e) {
            e.preventDefault();
            var url = "{% url 'backend_django_v2:edit_contact' id=company.id %}";
            var contacts = {{ contacts|safe }};

            var body = [];
            for (let index = 0; index < contacts.length; ++index) {
                var contactId = $('#contactId'+index).val();
                var firstName = $('#firstName'+index).val();
                var lastName = $('#lastName'+index).val();
                var jobTitle = $('#jobTitle'+index).val();
                body.push(
                    {firstName: firstName, lastName: lastName, jobTitle: jobTitle, contactId: contactId}
                );
            }

            var data = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                edit_type: "contact",
                contacts: JSON.stringify(body)
            };

            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (response) {
                    if (response.status === 'success') {
                        closeAllModals();
                        openSuccessModal();

                        console.log('Success');
                    } else {
                        alert("Something went wrong");
                        console.log('Error');
                    }
                }
            });
        });
    });
</script>
