<div class="popup popup--transparent popup--bottom popup--pos-bottom" id="join-popup">
    <div class="popup__wrapper popup__wrapper--fullw">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-form popup__form popup__form--big">
                <div class="popup-form__head">
                    <h2 class="popup-form__title">Join us!</h2>
                </div>
                <div class="popup-form__body">
                    <div class="popup-form__item">
                        <ul class="styled-checked-list popup-form__list">
                            <li class="styled-checked-list__item">Find information about over 2 million companies</li>
                            <li class="styled-checked-list__item">Get well structured data based on financial metrics
                            </li>
                            <li class="styled-checked-list__item">Save companies to your personal list</li>
                        </ul>
                    </div>
                </div>
                <div class="popup-form__controls">
                    <div class="popup-form__controls-text popup-form__controls-text--center">
                        <p class="label popup-form__controls-text-label">Have an account?</p>
                        <a href="/login" class="button-inline button-inline--primary sign-in-btn">Sign in</a>
                    </div>

                    <a
                        class="button popup-form__controls-item popup-form__controls-item--small sign-up-btn" href="/signup/cold-join">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>