<div class="popup" id="signin-before-save">
    <div class="popup__wrapper">
        <button class="js-popup-close popup__close"></button>
        <div class="custom-scrollbar popup__inner popup__inner--with-p">
            <div class="popup-form popup__form">
                <div class="popup-form__body">
                    <div class="popup-form__item">
                        <div class="popup-text">
                            <p class="popup-text__text popup-text__text--medium popup-text__text--center">You need to
                                sign in to save company in your pesonal list.</p>
                        </div>
                    </div>
                </div>
                <div class="popup-form__controls">
                    <div class="popup-form__controls-text popup-form__controls-text--center">
                        <p class="label popup-form__controls-text-label">No account yet?</p>
                        <a href="/login" class="button-inline button-inline--primary">Sign
                            in</a>
                    </div>

                    <a
                        class="button popup-form__controls-item popup-form__controls-item--small" href="/signup/cold-join">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>