input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 3px solid #00D1C1;
}
#profile-menu{
    min-width: 150px;
    margin-top: 5px;
}
.mpadi{
    padding: 2% 8%;
    padding-bottom: 5%;
}
#profile-disp{
    padding-left: 10%;
    cursor: pointer;
}
#profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.mipadi{
    text-align: center;
    padding-left: 5%;
    padding-bottom: 3%;
    font-family: std-medium;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.strtedcon{
    background-color: #00D1C1;
    color: #FFFFFF;
    width: 85%;
    padding: 4% 0;
    border-radius: 30px;
    opacity: 0.5;
    cursor: auto;
}
.enableCont{
    opacity: 1;
    cursor: pointer;
}
.checked{
    border-width:5px !important;
}
.checking{
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 15px;
    margin-top: 3px;
}
.checking:hover{
    cursor: pointer;
}
.check-blob{
    border: 1px solid #00D1C1;
    border-radius: 50%;
    height: 100%;
}
.talk{
    font-family: normie-stuff;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.talk a{
    font-family: std-medium;
    font-weight: 600px;
    color: #00D1C1;
}
.popover-header{
    background: #FF5A5F;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: std-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.popover{
    border-radius: 11px 11px 0px 0px;
}
#LoginModal .modal-header{
    padding-bottom: 0;
}
.capinames{
    text-transform: capitalize;
}
.form-group p, #invalid_login {
    padding-top: 2%;
    font-family: normie-stuff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
#invalid_login{
    text-align: center;
    color: #FF5A5F;
}
.popover-body{
    background-color: white;
    font-family: normie-stuff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #383838;
}
.mazung{
    padding: 0 5% !important;
}
label{
    font-family: std-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #383838
}
.styledTB {
    position: relative;
    display: inline-block;
    width: 100%;
}
.styledTB input {
    width: 100%;
    height: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}
.searchBDir {
    height: 100%;
    width: 40px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.fav{
    top:10%;
    background-position: 0;
    background-size: 100%;
    right: 10%;
    cursor: pointer;
    width: 35px;
}
.fav.yes{
    background-image: url('/static/validators/favourite.svg');
}
.fav.no{
    background-image: url('/static/validators/not-favourite.svg');
}
.fav.listing{
    top: 35%;
    left: 7%;
    right: auto;
}
.pwd-thingy{
    background-image: url("/static/validators/view.svg");
}
.correct{
    background-image: url("/static/validators/correct.svg") !important;
}
.wrong{
    background-image: url("/static/validators/wrong.svg") !important;
}
.warning{
    background-image: url("/static/validators/warning.svg") !important;
}
.logforms{
    background-color: white !important;
    color: black !important;
    border: 1px solid rgba(56, 56, 56, 0.5);
    box-sizing: border-box;
    border-radius: 75px !important;
    font-family: normie-stuff;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #383838;
    opacity: 0.5;
    padding: 0.5rem 1.25rem;
    padding-right: 2rem;
    width: 100%;
    outline: none !important;
    box-shadow: none !important;
}
.logforms:focus{
    outline: none !important;
}
input.logforms[type="text"]{
    border: 1px solid rgba(56, 56, 56, 0.5);
}
.jguj{
    border-radius: 0 0 15px 15px;
    max-width:100%;
    color: white;
    font-family: std-medium;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
}
.fade{
    background-color: rgba(0, 122, 135, 0.5);;
}

.defcol{
    background-color: #FCF5EB;
    border: none !important;
}
.modal-header{
    border: none;
    padding: 3rem;
    font-family: std-medium;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #00D1C1;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
}
button.close{
    padding: 1rem 0 !important;
    opacity: 1.0 !important;
}
.modal-content{
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}
button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
  }
.pbot{
    padding: 0 3%;
    background-color: #00D1C1;
    border: none;
}
.hvra:hover{
    cursor: pointer;
}
.bbpotp{
    border:1px white solid;
    border-radius: 25px;
    padding: 0.5% 2%;
    font-weight: 900 !important;
}
.cuta{
    font-family: normie-stuff !important;
}



#hidden-menu{
    padding-left: 6%;
}
.footer{
    background-color: #007A87;
    position: absolute;
}
.marker-thing img{
    width:100%;
}
.footer-clear{
    padding-top: 2%;
    padding-bottom: 2%;
    height:40% ;
}
.footer .row{
margin:auto 0px !important;
}
.lcomp{
    padding: 1% 3%;
}
.enugl:hover{
    color: white;
}
.year-footer{
    font-family: normie-stuff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    align-items: center !important;
    text-align: center !important;
    color: #FFFFFF;
    border-top: 1px solid white;
    padding: 5px;
}
.enuf{
    font-family: std-medium;
    font-weight: 300;
    font-size: 23px;
    line-height: 25px;
    color: white;
}
.enugl{
    font-family: normie-stuff;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: white;
    padding: 1% 0% 0.5% 0%;
}
.enufh{
    padding: 1% 0%;
    border-top: 1px solid white;
}
.ctext{
    margin: auto !important;
    padding-right: 5% !important;
    margin-bottom: 17.5% !important;
}
.cbob{
    padding: 0% 20% 10% 10%;
}
.min-text{
    padding-bottom: 5%;
}
.s-cont{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 15px;
}
.sea{
    height: 10% !important;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}
.sea img{
    width: 100%;
}
.mag-pos{
    text-align: end;
}
.gotop{
    background-color: #FF5A5F;
}
.mitu{
    padding-top: 5% !important;
}
.indcards{
    padding: 0% 5% 5% 5%;
    margin: auto 0px !important;
}
.mahjongg{
    height: 45%;
}
.ith{
    color: white;
    border: none !important;
    padding-top: 1%;
}
.kith{
    padding: 0% 22% 5% 22%;
    line-height: 150%;
}
.lepkl{
    width: 100%;
    padding: 5% 22% 0% 22%;
}
.mnest{
    background-color: #00D1C1;
    background-image: url("/static/web_photos/l-overlay.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 4%;
}
.lmtk{
    background-color: #FCF5EB;
}
.kui{
    padding-bottom: 4%;
}
.ihk{
    color: white;
    padding:1% 0% 1% 2%;
}
.ihk a{
    color: white;
}
.ihk a:hover{
    color: white;
    text-decoration: none;
}
.mkot, .mekn{
    color: #383838 !important;
}
.goaway{
    visibility: hidden;
}

.kkkk:hover + .goaway{
    visibility: visible;
}
.psdir{
    background-color: #00D1C1;
}
.epb{
    padding-bottom: 6%;
}
.ikj{
    padding: 5%;
    padding-bottom: 0;
}
.hedn{
    color: #ffffff;
}
.lbl{
    padding: 0% 3% 2% 5% ;
}
.scresh{
    background-color: #FCF5EB;
    background-image: url("/static/web_photos/blue-overlay.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.mekn{
    padding-right: 15%;
    padding-left: 15%;
}
.ccjik{
    background-color: #FCF5EB;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    height: 100%;
}
.ccjik.my-auto:hover {
    box-shadow: 0 0 1em rgb(188 190 191);
}
.boxxy{
    padding: 2% 2%;
    min-height: 50%;

}
.lsth{
    position: relative !important;
    left: 0 !important;
}
.monyo{
    width: 100%;
    padding: 10%;
}
.ccjik img{
    padding: 10%;
    padding-bottom: 5%;
    height: 100%;
}
.gcolor{
    border: none !important;
    text-align: center !important;
    color: #000;
    color: #007A87;
    font-weight: 500;
    padding: 1% 5%;
    height: 10%;
}
.subingj{
    color: #007A87;
    padding: 5% 5% 10% 5%;
    height: 35%;
    line-height: 130%;
}
.itnk{
    background-color: white !important;
    color: #00D1C1 !important;
}
.rglider{
    background-color: #FF5A5F;
    padding: 3%;
    padding-bottom:6%;
}
.wjuio{
    width: 50%;
    padding: 3% 2%;
    background-color: #00D1C1;
    border-radius: 30px;
    font-family: std-medium;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
    left:25%;
    text-align: center;
}
.wjuio.lowb.mx-auto:hover {
    background-color: #007A87;
}
#dynamis-d{
    display: flex;
}
#dynamis-m{
    display: none;
}
.car-d{
    display: flex;
}
.car-m{
    display: none;
}

@media only screen and (max-width: 768px){

    .ith{
        padding-top:5%;
    }
    #dynamis-m{
        display: flex;
    }
    #dynamis-d{
        display: none;
    }
    .car-m{
        display: flex;
    }

    .car-d{
        display: none;
    }

    .m-text{
        text-align: center;
        padding:4% 8% !important;
    }
    .min-text{
        text-align: center;
        padding: 0% 10% 3% 10%;
    }

    .wjuio{
        bottom: -4%;
        z-index: 999;
    }

    .sea{
        margin-left: auto;
        margin-right: auto;
    }
    .cbob{
        padding: 10%;
    }

    .s-cont{
        width: 70%;
        margin-left: 15%;
        padding: 0 12px;
    }

    #dynamis-m{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .btob{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .ipopt{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .piku{
        padding-top: 5%;
    }

    .mnest{
        padding-left: 0;
        padding-right: 0;
        padding-bottom:10%;
    }

    .upb{
        font-size: 7.5vw;
        line-height: 8vw;
    }

    .lepkl{
        padding: 10% 2% 5% 2%;
    }
    .kith{
        padding: 0% 6% 15% 6%;
    }
    .hedn{
        padding-bottom: 8%;
    }

    .picasd{
        padding-bottom:20%;
    }
    .mekyee{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        padding-bottom:5%;
    }

    .mekngr{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .meknfr{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .lsth{
        margin-left: auto;
        margin-right: auto;
    }

    .mnest, .scresh{
        background-image: none;
    }

    .gotopone{
        height: 510px;
    }

    .boxxy{
        height: 400px;
        width: 100%;
    }

    #inditro .glide__slides{
        height: 100%;
    }
    .indcards{
        padding-left: 0%;
        padding-right: 3%;
        height: 100%;
    }
    .dropdowns{
        display:none!important;
    }
}

@media only screen and (min-width: 450px) and (max-width: 575px){
    .gotopone{
        height: 600px;
    }

    .boxxy{
        height: 480px;
    }

}

@media only screen and (min-width: 575px) and (max-width: 660px){
    .gotopone{
        height: 700px;
    }

    .boxxy{
        height: 550px;
    }

    .indcards{
        padding-left: 2%;
        padding-right: 3%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 768px){
    .gotopone{
        height: 850px;
    }

    .boxxy{
        height: 700px;
    }
    .indcards{
        padding-left: 2%;
        padding-right: 3%;
    }
}

@media only screen and (max-width:575px){
    #footer-menu-bar div{
        padding: 1% 0% 2% 22%;
        width: 50%;
        white-space: nowrap;
        text-align: left;
    }
    #menu-bar{
        padding-top: 2.5%;
    }
    #menu-bar{
        width: 45% !important;
    }
    #pdown{
        display: none;
    }
    #profile-menu{
        margin-left: -90px;
    }
    #login, #signup{
        display: none;
    }
}

.wex{
width:6.3%;
}


.mag-pos{
width: 16.67%;
margin: 1%;
float: right;
clear: right;
}

.sn{
margin-left: 8%;
width: 74%;
background-color: #00D1C1 !important;
border: none;
font-size: 17.15px;
color: white;
font-family: std-medium;
font-style: normal;
font-weight: 450;
display: flex;
align-items: center;
}

.logo-home{
width: 2.69%;
}
.logo-home img{
width: 100%;
}
.footer-logo img{
    width:100%;
}
.quart{
font-family: std-medium;
font-style: normal;
font-weight: 450;
font-size: 14px;
color: white;
display: flex;
align-items: center;
}

#menu-bar, #footer-menu-bar{
width: 60%;
margin-left: 1%;
margin-top: 1%;
}

.spacing{
width: 10%;
}

.ex-spacing{
width: 15%;
}

.under{
visibility: hidden;
}

.current{
visibility: visible;
}

.quart a{
color: white;
text-decoration: none;
}

.home-hover:hover + .home-under{
    visibility: visible;
}

.about-hover:hover + .about-under{
visibility: visible;
}
.contact-hover:hover + .contact-under{
visibility: visible;
}
.search-hover:hover + .search-under{
visibility: visible;
}

#search-focus{
cursor: pointer;
}

.top-company{
border-radius: 15px;
background-color: white !important;
width: 154px;
height: 219.5px;
text-align: center;
align-items: center;
margin-left: 12%;
box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.07) !important;
border-radius: 15px !important;
}

.top-img{
padding: 10%;
padding-top: 33%;
padding-bottom: 2%;
width:75px;
height:75px;
}

.top-name{
font-family: std-medium;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
text-align: center !important;
color: #007A87 !important;
padding: 2px;
text-decoration: none;
overflow-wrap: anywhere;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.top-name:hover{
text-decoration: none;
color: #007A87
}

.top-details{
font-family: normie-stuff;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
color: #007A87 !important;
}

.marker-thing{
display: flex; align-items: center; justify-content: center;
height: 400px;
}

#left-glide{
cursor: pointer;
}

#right-glide{
cursor: pointer;
}

.get-started span{
font-family: std-medium;
font-style: normal;
font-weight: bold;
font-size: 22px;
color: white;
}

.left-m{
width: 20%;
}

#footer-menu-bar div{
font-family: normie-stuff;
font-weight: 300;
font-size: 18px;
line-height: 23px;
}

#hidden-menu{
    width: 75%;
    padding-top: 2.5%;
    display:none;
}

.noscroll{
    overflow: hidden;
}

.hidden-logo{
    position: absolute;
    top: 30px;
    left: 25px;
}

.hidden-logo img{
    width: 100% ;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1033;
    left: 0;
    top: 0;
    background-color: #FCF5EB;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 450;
    color: #00D1C1;
    display: block;
    transition: 0.3s;
    font-family: std-medium;
}

.current-selection{
    font-weight: 900 !important;
}

.overlay a:hover, .overlay a:focus {
    font-weight: 900;
}

.overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 25px;
}



@media screen and (min-width : 1000px)
{
.sea{
    border-radius: 40px;
}
.marker-thing{
    height: 296.31px;
    width: 10%;
}
.carousel-mid{
    width: 80%;
}
.top-img{
    width:100px;
    height:100px;
}
}

@media screen and (min-width : 1800px){
.sn{
    font-size: 23px;
}
.quart{
font-size: 18px;
}
.top-company{
width: 220px;
height: 293px;
}
.top-img{
    width:128px;
    height:128px;
}
.how-works, .mon-head, .lep-head{
font-size: 52px;
}
.lep-sub, .mon-sub{
font-size: 30px;
}

.works-head{
font-size: 32px;
}
.works-sub{
font-size: 24px;
}
}

@media screen and (max-width : 1000px){
.sea{
    height: 40px !important;
}
.marker-thing{
    height: 296.31px;
    width: 10%;
}
.carousel-mid{
    width: 80%;
}
.low{
    width: 80% !important;
}
.col-md-4{
    width: 33.3333%;
}

.excess{
    display: inline-block;
    height: 11%;
}
}

@media screen and (max-width : 660px){
#hidden-menu{
    display: flex;
}
.navnone{
    display: none;
}

.ex-spacing{
    width: 25%;
}
.excess{
    display: none;
}
.wex{
    width: 0%;
}
.logo-home{
    margin-left: 0%;
    width: 10%;
}
.sea{
    height: 45px !important;
    width: 70%;
}
.log-head{
    height: 4%;
}
.mag-pos{
    width: 14%;
    margin-bottom: 1%;
    margin-left: 5%;
}
.marker-thing{
    width: 20%;
    height: 296.31px;
    text-align: center;
}
.marker-thing img{
    width: 100%;
}
.carousel-mid{
    width: 60%;
}

.year-footer{
    height: 12%;
    border-bottom: 20px solid #007A87;
    padding-top: 10px;
}
.footer-logo{
    margin-left: 45%;
    width: 10%;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 0;
}
#footer-menu-bar{
    margin-left: 11%;
    margin-right: 10%;
    text-align: center;
    width: 75%;
}
.col-md-4{
    width: 100%;
}
}

@media screen and (min-width: 500px) and (max-width:579px){
    .sea{
    top: 820px;
    height: 65px !important;
    }
}

@media screen and (min-width: 661px) and (max-width:720px)
{
    .adde{
        height: 2% !important;
    }
    .sea{
        width: 75%;
        height:50px !important;
    }
    .isme{
        width: 7% !important;
    }
    #footer-menu-bar div{
        font-size:16px !important;
        line-height: 20px;
    }
    #footer-menu-bar{
        width: 60% !important;
    }
    .xced{
        width: 13%;
    }
}

@media screen and (min-width: 721px) and (max-width:900px)
{
    .adde{
        height: 2%;
    }
    .xced{
        width: 13%;
    }
    .sea{
        width: 75%;
        height:50px !important;
    }
    #footer-menu-bar{
        width: 60% !important;
    }
}

@media (min-width: 576px) and  (max-width: 800px){
    #menu-bar{
        width: 60%;
    }
}

.none{
    display:none;
    }
textarea:focus, input:focus{
    outline: none;
}
.headlinepci{
    font-family: big-heading, std-medium, std-bold; font-style: normal; font-weight: 900;font-size: 40px;width:312px;padding-bottom:55px;margin-bottom:0px;letter-spacing:-1px;
}
.parentheadline{
    width: 100%;padding-left: 6.4%;padding-top: 25px;padding-bottom:55px;
            /* or 110% */ color: #FFFFFF;margin-bottom:0px;
}
.searchparentwrapper{
    width: 93%;height: 47px;background: #FFFFFF;border: 1px solid #DDDDDD;box-sizing: border-box;box-shadow: 0px 0px 3px rgb(0 0 0 / 15%);border-radius: 8px;padding-right:16px;
}
.menu-top {background-color:transparent;padding-top:14px;padding-left:6.4%;}
.s-cont{padding:0px;}
.search-item{background-color:#FFFFFF;color:#565A5C!important;}
.innercta{
    max-width:552px;display:inline-block;margin:0 auto;
}
.popout{
    color:#00D1C2;
    font-weight:700;
}
.lightitup{
    color:#00D1C2;
    font-weight:900;
}

body{background-color:#FFFFFF;}
.gcolor{
    color:#383838!important;font-size:16px;height:20%;padding-top:8px;
}
.ccjik{height:178px;background-color:#FFFFFF;padding:0%;padding-bottom:0%;overflow: hidden;box-shadow: 0px 0px 3px rgb(0 0 0 / 15%);}
.ccjik img{padding:0%;padding-bottom:0%;width:100%;}
.insidebox{
   background: linear-gradient(118.14deg, #285567 2.35%, #007A72 93.02%);border-radius: 10px 0px 0px 10px;left: 25px;position: absolute;width: calc(100% - 25px);padding:24px;margin-top:-24px;max-width:1000px;
}
.outsidebox{
   background: #66b3ad;height:424px; max-width:1000px;position:relative;
}
.rglider{background-color:white;}
li.licircle{list-style-image: url("https://www.konaequity.com/static/industries/Group32a.svg")!important;}
a.lowb.kkkk {
    text-align: left;
    line-height:20px;
}
.top-name{
    color:#383838!important;
}
.top-company{box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15)!important;}
.pbot{background-color:transparent;}
.top-details{color:#565A5C!important;}
.glidetop{width:170px!important;}
.boxxy{padding: 2% 1.5%;}
.lcomp{display:none;}
.enufh{display:none;}
.mahjongg{height:55%;}
#menu-bar{margin-top:16px;width:47%;}
#profile-disp {
    padding-left: 10%;
}
.ctap{text-align:center;color:#383838;font-size:16px;margin-bottom:24px;padding-left:16px;padding-right:16px;font-family:'normie-stuff';}
.lowb{font-size:16px;}
.subingj{color:#383838!important;font-size:14px;padding-top:8px;}
.ctatitle{text-align:center;font-size:20px;margin-bottom:16px;padding-top:24px;padding-left:14%;padding-right:14%;font-family:'std-medium';}
.ctascreen{width:218px}
.hhiwtitle{color:white;font-size:20px;margin-bottom:8px;}
.logo-homeword{color:white;width:15%;font-family: 'big-heading';font-size:24px;min-width:184px;letter-spacing:-1px;}
.gradientstripe{
    background: linear-gradient(289deg, #275768, #007571, #48908d);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
    height:351px;width:100%;z-index:-1;position:absolute;clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.solidstripe{background: #008076;opacity: 0.6;height:393px;width:100%;z-index:-2;clip-path: polygon(0 0, 96% 0, 96% 65%, 0% 100%);position:absolute;}
.wrappercta{box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);border-radius: 10px;background-color:white;margin-bottom:88px;}
.hhiw{color:white;text-align:left;margin-bottom:24px;font-size:24px;}
.lmc{padding-left:22px;}
.hhiwp{font-size:14px;color:white;font-family: 'normie-stuff';}
.ikj{padding-left:8%;padding-top:0px;}
.ctabutton{justify-content: center;align-items: center;display:flex;padding-left:16px;padding-right:16px;padding-bottom:24px;}
.magnwrapper{width:5%;float:right;clear:right;text-align:end;margin-top:8px;}
.disappear{padding-top:24px;padding-right:24px;}
.fav.no{display:none;}
.upb.hedn{color:#383838;text-align:left;padding-bottom:24px;font-size:24px;padding-left:6.4%;padding-top:32px;}
.topco{border: none !important;padding-top: 2%;text-align:left;padding-bottom: 1%;font-size:24px;padding-left:5%;color:#383838;}
.kui{padding-bottom:10%;}
.ctapremium{cursor:pointer;background: #00D1C2;box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);border-radius: 8px;color:white;height:54px;width:100%;border:none;font-family: 'big-heading';font-size:20px;}
.ctapremium:hover{background-color:#58f0e4;}
.glide__slide:hover{background-color:#FCFCFC;}
a.lowb.kkkk:hover{font-weight:600;}
/* On screens that are 767px or less */
@media screen and (max-width: 767px) {
  .disappear{
    display:none!important;
  }
  .innercta{
      display:block!important;
  }
}
/* If screen size is more than 501px wide */
@media screen and (min-width: 501px) {
    .parentheadline{
        padding-bottom:120px;padding-top:118px;
    }
    .industries{
        margin-top:120px;
    }
    .outsidebox{
        height:358px;
    }
    #search-main{
        font-size:20px;
    }
    .ctap{text-align:left;}
    .ctatitle{text-align:left;padding-left: 16px;}
    .logo-home{font-size:32px;}
    .headlinepci{font-size:48px;width:100%;padding-bottom:24px;}
    .hhiw{text-align:center;}
    .gradientstripe{height:444px;}
    .solidstripe{height:520px;}
    .searchparentwrapper{width: 53%;height:54px;}
    .magnwrapper{margin-top:11px;}
}
/* If screen size is more than 769px wide */
@media only screen and (min-width: 769px){
    .ctatitle{margin-bottom:24px;}
    .ctascreen{width:252px;}
    .headlinepci{font-size:54px;letter-spacing:-1px;}
    .parentheadline{padding-top:88px;}
    .searchparentwrapper{max-width:592px;}
    .upb.hedn{text-align:center;padding-left:0px;}
    .topco{padding-left:0px;text-align:center;}
}
@media (min-width: 768px) and (max-width: 967px){
    .ctascreen{width:218px;}
}
/* If screen size is less than 768px wide */
@media only screen and (max-width: 768px){
    .s-cont {
    width:100%;margin-left:0px;
    }
    .gotopone{
        display:none;
    }
    .top-hover.dropbtn.quart {
    display: none;
    }
}
/* If screen size is more than 1000px wide */
@media only screen and (min-width: 1000px) {
    .insidebox{width:100%;border-radius:10px;padding-left:14%;padding-right:14%;}
    .outsidebox{border-radius:10px;height:332px;}
    .boxxy{max-width:247px;}
    .ctatitle{font-size:24px;}
    .ctap{font-size:20px;}
    .ctatitle{padding-left:40px;padding-top:40px;padding-right:0px;}
    .ctap{padding-left:40px;}
    .ctabutton{padding-left:40px;padding-bottom:40px;}
    .disappear{padding-top:43px;padding-right:40px;}
}
/* If screen size is less than 575px wide */
@media only screen and (max-width: 575px){
#menu-bar {
    width: 25% !important;
    }
}
/* If screen size is between 576px and 1000px wide */
@media (min-width: 576px) and (max-width: 1000px){
#menu-bar {width: 45%;}
.ctatitle{font-size:18px;padding-left:24px;padding-right:0px;}
.innercta{max-width:410px;}
.ctap{padding-left:24px;}
.ctabutton{padding-left:24px;}
.wrappercta{margin-bottom:104px;}
.outsidebox{border-top-left-radius:10px;border-bottom-left-radius:10px;height:318px;}
.lmc {padding-left: 52px;}
.ikj{padding-top:0px;padding-left:6%;}
}
/* If screen size is more than 800px wide */
@media only screen and (min-width: 800px){
.insidebox{padding-bottom:40px;}
#menu-bar{width:51%;}
}
@media screen and (min-width: 1800px){
    button#signup{width:144px!important;}
}

@media only screen and (min-width: 1052px) {
    .whiteish{padding-right:40px!important;}
    ul.nav.navbar-nav.mx-sm-auto{margin-left:70px;}
}
.dropdowns{color:#383838!important;}
.homelogos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.homelogoimgs{
  padding: 2rem;
  max-width: 100%;
  height: auto;
  max-width:180px;
}
.hometeams{
  text-align:center;
  color:#383838;
  font-family: 'Circular Air';
}
.lovetestimonials{
    padding-bottom:100px;
}
.upb{
    font-family:'Circular Air';
}
